body{
  background: linear-gradient(to top, #c2bf0bfb, #4e07f5a8); /*задний фон градиент наверх*/
  max-width: 63%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgb(5, 5, 5);
  padding: 5px; 

}
section{
  background:#4b7ce62a;
  padding: 0 calc(50% - 550px); /*внутренние отступы поля со всех сторон элемента.*/
  margin: 20px;

}
p.fig {
    text-align: center; /* Выравнивание по центру */
   }
h1.fig{
    text-align: center; /* Выравнивание по центру */
}   
.tdn{
    text-decoration: none; /*ссылки без нижнего подчеркивания*/
}
   footer {
  background:linear-gradient(to top, #ebfc02, #9a07f0f8);
  text-align: center;
  vertical-align: middle;
}
nav{
    text-align: center;
}
